h1{
    display: inline;
}
span{
    margin: 20px;
    font-size: 2em;
    font-weight: bold;
}
img{
    display: block;
}
.disp-none{
    display: none;
}
ol{
    display: inline;
    list-style-position: inside;
 }